/public/app.css
/public/app.js
/public/assets/structures.html
/public/assets/fonts/Epilogue-VariableFont_wght.ttf
/public/assets/fonts/Rubik-Black.ttf
/public/assets/fonts/Rubik-BlackItalic.ttf
/public/assets/fonts/Rubik-Bold.ttf
/public/assets/fonts/Rubik-BoldItalic.ttf
/public/assets/fonts/Rubik-Italic.ttf
/public/assets/fonts/Rubik-Light.ttf
/public/assets/fonts/Rubik-LightItalic.ttf
/public/assets/fonts/Rubik-Medium.ttf
/public/assets/fonts/Rubik-MediumItalic.ttf
/public/assets/fonts/Rubik-Regular.ttf
/public/assets/fonts/typicons.eot
/public/assets/fonts/typicons.svg
/public/assets/fonts/typicons.ttf
/public/assets/fonts/typicons.woff
/node_modules/
/.idea/
/public/app.css.map
/public/assets/images/*
