/public/assets/fonts/*
/public/assets/images/*
/public/assets/app.html
/public/assets/app.js
/public/assets/app.css
/public/assets/app.css.map
/public/assets/app-uncompiled.ts
/node_modules/
/.idea/
jsconfig.json
/tsconfig.json
/package-lock.json