/public/assets/fonts/*
/public/assets/images/*
/public/assets/app.html
/public/assets/app.js
/public/assets/app.css
/node_modules/
/.idea/
/public/assets/app.css.map
jsconfig.json
/public/assets/app-uncompiled.ts
/tsconfig.json
