.brd-1 {
  border-width:1px;
  border-style: solid;
}

.brd-2 {
  border-width:2px;
  border-style: solid;
}

.brd-3 {
  border-width:3px;
  border-style: solid;
}

.brd-primary {
  border-color:var(--primary);
}

.brd-light {
  border-color:var(--light);
}

.brd-grey {
  border-color:var(--grey);
}

.brd-success {
  border-color:var(--success);
}

.brd-warning {
  border-color:var(--warning);
}

.brd-danger {
  border-color:var(--danger);
}