.btn {
  cursor: pointer;
  background-image: initial;
  border-color: initial;
  text-decoration-color: initial;
  outline-color: initial;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 7px 14px, rgba(0, 0, 0, 0.12) 0px 5px 5px;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

.btn-primary {
  background-color: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
}