@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;700;900&display=swap');

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/Raleway-VariableFont_wght.ttf) format('ttf');
}

@font-face {
  font-family: QuickSand;
  src: url(assets/fonts/Quicksand-VariableFont_wght.ttf) format('ttf');
}

.f-pri {
  font-family: var(--fontPrimary);
}

.f-sec {
  font-family: var(--fontSecondary);
}

.f-title {
  font-family: var(--fontTitle);
}

.fw-900 {
  font-weight: 900;
}

.fw-600 {
  font-weight: 600;
}

.fw-300 {
  font-weight: 300;
}