:root {
  --primary: #FFB294;
  --secondary: #33A390;
  --dark: #050302;
  --grey: #7D7D91;
  --light: #FFFFFF;
  --success: #02AC1E;
  --warning: #FA6607;
  --danger: #FA113D;
  --blueLink: #0645AD;
  --fontPrimary: Raleway;
  --fontSecondary: QuickSand;
}