:root {
  --prim: #5385c1;
  --sec: #C85037;
  --dark: #333333;
  --grey: #9a9a9a;
  --light: #FFFFFF;
  --success: #02AC1E;
  --warning: #FA6607;
  --danger: #FA113D;
  --blueLink: #1817E8;
  --fontPrimary: Raleway;
  --fontSecondary: QuickSand;
}